@{
    ViewData["Title"] = "Welcome to Plntr!";
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Plntr</title>
    <link href="main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find a plant for every lifestyle">
    <meta name="appTileImage" content="images/tileImage.jpg">
    <meta name="theme-color" content="#97E045">
    <script src="https://kit.fontawesome.com/7af75ba151.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Plntr</h1>
    <h3>A Plant For Every Lifestyle</h3>
    <img src="images/homeBannerImage.jpg" width="1080" height="610" alt="houseplant banner">
    <p>
        <b>Everyone has faced tragedy when attempting to care for houseplants.</b>
        It's easy to blame the color of your thumbs, but truthfully you may just need to find the plants that thrive within your lifestyle.
        Let us help match you with the plant of your dreams!
    </p>
</body>
</html>
