@{
    ViewData["Title"] = "Plant of the Month";
}
<h1>@ViewData["Title"]</h1>

<body>
    <p>January's plant of the month is...</p>
    <h3>Monstera Dubia</h3>
    <img src="images/dubiaImage.jpg" width="1080" height="1080" alt="monstera dubia">
    @* <img src="https://mlwf6bajf1bw.i.optimole.com/w:1080/h:1080/q:mauto/f:best/https://www.outplanted.com/wp-content/uploads/monstera-dubia.jpg" width="1080" height="1080" alt="monstera dubia"> *@
</body>

